.app__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var( --lightGray-color);
  padding: 3rem 1rem;
}

.about__head-text {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 3rem;
}

.about__filter {
  display: flex;
  gap: 10px;
  margin-top: 2rem;

  span {
    font-size: 2rem;
  }
}

.about__buss-filter-item {
  font-size: large;
  font-weight: 800;
  cursor: pointer;
  font-size: 2rem;

  &:hover {
    color: rgb(57, 146, 219);
  }
}

.selected {
  color: blue ;
}

.about__buss-card {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;

  @media screen and (max-width: 450px) {
    flex-direction: column;

    img {
      width: 50%
    }
  }
    
  
}